/* src/App.css */
.App {
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
}

.attribute-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
